<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hhhhh</h1>
    你正在登录山竹记账，你的验证码是：<code><%= @code%></code>
    <p>
      You have successfully signed up to example.com,
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
